# R template (based on gitignore.io / GitHub community defaults)
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata

# RStudio files
.Rproj.user/

# Quarto/R Markdown render outputs and caches
*_cache/
*.utf8.md
*.knit.md

# Project-specific raw data
egrid files/
.CBSAs.xlsx
.NaNDA partisanship.rda
